$fontSize: 1.2rem;
//$crismon: "Crimson Text", serif;
$font-poiret: "Poiret One", "serif";
$pink: #f3d8cf;
$lightPink: #f5e5e0;
$darkPink: #caaea5;
$dark: #443733;

.input-group {
  width: 80%;
}

.input-group i {
  position: absolute;
}

.icon {
  padding: 15px;
  color: rgb(49, 0, 128);
  width: 70px;
  text-align: left;
}
.search-input {
  color: $dark;
  border: 3px solid $pink;
  font-family: $font-poiret, cursive;
  font-size: $fontSize;
  width: 100%;
  outline: none;
  transition-duration: 0.5s;
}

.search-input:focus {
  border-color: $darkPink;
}

.search-btn {
  font-family: $font-poiret;
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  transition-duration: 0.4s;
  background-color: $pink;
  border-radius: 5px;
  border-color: $pink;
  margin-left: 0.5em;
}

.input-group {
  display: flex;
  justify-content: center;
}

.search-btn:hover {
  background-color: $darkPink;
  color: $lightPink;
}

@media (max-width: 562px) {
  .search-input {
    font-size: 1.2rem;
  }
}

@media (min-width: 940px) {
  .input-group {
    width: 50%;
  }
}
