$fontSizeforlist: 1.2rem;
$crismon: "Crimson Text", serif;
$buttonColor: #d3a588;
$secondColor: #2221208f;
$lightYellow: #f7de86;
$lighterColor: #f5ede0;
$whiteFont: rgb(255, 251, 247);
$blue: #659dbd;
