$bodyColor: #daad86;
$buttonColor: #d3a588;
$lightYellow: #f7de86;
$lighterColor: #f5ede0;
$whiteFont: rgb(255, 251, 247);
$brown: #bc986a;
$blue: #659dbd;
$font: Cormorant Garamond;
$sizeOne: 1rem;
$sizeTwo: 1.5rem;
