$fontSize: 1.2rem;
$font-poiret: "Poiret One", "serif";
$font-Alegreya: "Alegreya", "serif";
$pink: #f3d8cf;
$dark: #443733;
$greyPink: rgba(243, 216, 207, 0.5);

body {
  margin: 0;
  font-family: $font-poiret;
  background-color: $greyPink;
}

.main-pic {
  max-width: 100%;
  height: auto;
  opacity: 0.9;
  top: 10vh;
  position: absolute;
  transform: translate(0%, -30%);
  z-index: -1;
  opacity: 0.2;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25% auto 0;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

.main-title-section-title {
  font-size: 3.5rem;
  text-align: center;
  color: #328294;
}

.main-title-section-subtitle {
  text-align: center;
  margin-top: -1.5em;
  margin-bottom: 3em;
  color: #225561;
  text-decoration: underline;
}

footer {
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  text-align: center;
}

/*
TODO:media query
*/
